<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netback.myelementback.Dao.ArticleMapper">

    <insert id="insert" parameterType="com.netback.myelementback.Entity.Article">
        insert into tArticle(nUserId,sArticle,sCreateUser,dCreateDate,dLastUpdateTime) values(#{userId},#{article},#{userId},CURDATE(),CURDATE())
    </insert>

    <select id="getById" parameterType="int" resultType="com.netback.myelementback.Entity.Article">
        select nUserId as userId, sArticle as article, nRankId as rankId, dLastUpdateTime as lastUpdateTime from tArticle where nRankId = #{rankId}
    </select>

    <update id="update" parameterType="com.netback.myelementback.Entity.Article">
        update tArticle set sArticle = #{article}, sChangeUser = #{userId}, dChangeDate = getDate() where nRankId = #{rankId}
    </update>

    <delete id="deleteById" parameterType="int">
        delete from tArticle where nRankId = #{rankID}
    </delete>
</mapper>