<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netback.myelementback.Dao.ArticleMapper">

    <insert id="insert" parameterType="com.netback.myelementback.Entity.Article">
        insert into tArticle(nUserId,sArticle,sCreateUser,dCreateDate,dLastUpdateTime) values(#{nUserId},#{sArticle},#{nUserId},getdate(),getdate())
    </insert>

    <select id="getById" parameterType="int" resultType="com.netback.myelementback.Entity.Article">
        select nUserId, sArticle, nRankId, dLastLoginDate from tArticle where nRankId = #{nRankId}
    </select>

    <update id="update" parameterType="com.netback.myelementback.Entity.Article">
        update tArticle set sArticle = #{sArticle}, sChangeUser = #{nUserId}, dChangeDate = getDate() where nRankId = #{nRankId}
    </update>

    <delete id="deleteById" parameterType="int">
        delete from tArticle where nRankId = #{nRankID}
    </delete>
</mapper>